/* ESTILOS GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
  float: none;
  clear: both;
}

.container {
  width: 900px;
  height: 820px;
  margin: 100px auto;
}

.container-full {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* MENU NAVEGACION */

header {
  width: 1600px;
  height: 50px;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  display: block;
  padding-left: 12px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 160px;
  padding: 10px;
  text-align: center;
}

nav ul li a{
  display: block;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 0.1em;
  color: #6C63FF;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
}

nav ul li:hover a{
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*  ASIDE IMG*/

.aside {
  display: block;
  float: left;
  width:50%;
  overflow: hidden;
}

.aside img, 
.container-full img{
  display: block;
  width: 100%;
  height: 462px;
  transition: all 300ms;
}

.aside img:hover,
.container-full img:hover {
  animation: hideBox 1s linear;
}

@keyframes hideBox {
  from {
    transform: translateX(0%);
    opacity: 0.2;
  }
  to {
    transform: translateX(200%);
    opacity: 0.5;
  }
}

/* SECTION TEXT*/

.section {
  display: block;
  float: right;
  width: 50%;
  min-height: 462px;
}

.section h1{
  display: block;
  width: 90%;
  font-size: 35px;
  letter-spacing: 0.1em;
  margin-left: 35px;
  margin-top: 146px;
}

.section h1 span{
  color: #6C63FF;
}

.container-full h1{
  display: block;
  padding: 10px;;
  text-align: center;
  letter-spacing: 0.1em;
}

.container-full h1 span{
  color: #6C63FF;
}

/* BOX2 CLASS */

.box2 .aside {
  float: right;
}

.box2 .section {
  float: left;
}

.container-full img {
  margin-bottom: 20px;
}